<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/header1.jpg" alt="">
    </div>
        <div class="sidebar__content">
            <div class="profile">

                <img class="profile__avatar" src="assets/images/me.jpg" alt="">
                
                <div class="profile__header">
                    <div class="profile__name">Виталий Федоров</div>
                    <div class="profile__prof">Junior front-end developer</div>
                </div>               

                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <img src="assets/images/social-icon/instagram (1) 1.svg" alt="">
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <img src="assets/images/social-icon/vk.svg" alt="">
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <img src="assets/images/social-icon/pinterest.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="profile__text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ab quisquam. Nam, nostrum quia! Voluptate, tenetur consequuntur architecto ipsum, accusamus qui reprehenderit eos, incidunt natus aspernatur modi similique obcaecati cupiditate voluptates quidem perferendis placeat. Accusamus, eligendi. Cum voluptatem deleniti laborum nobis saepe impedit numquam eligendi accusantium dolorem? Tempora, illum! Aut.
                    </p>
                </div>
            </div> <!--/.profile-->

            <nav class="nav nav--mobile">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="index.html">ГЛАВНАЯ</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link has-subnav" href="#">СТАТЬИ</a>
    
                        <ul class="subnav">
                            <li>
                                <a class="subnav__link" href="#">Создание сайтов</a>
                            </li>
                            <li>
                                <a class="subnav__link" href="#">Интернет-маркетингв</a>
                            </li>
                            <li>
                                <a class="subnav__link" href="#">Продвижение видео</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="text.html">ОБО МНЕ</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="text.html">РЕКЛАМА</a>
                    </li>  
                    <li class="nav__item">
                        <a class="nav__link" href="profile.html">ПРОФИЛЬ</a>
                    </li> 
                    <li class="nav__item">
                        <a class="nav__link" href="#">ВЫЙТИ</a>
                    </li>                                       
                </ul>
            </nav>

        </div> <!--/.sidebar__content-->

        <div class="sidebar__footer">
            <a class="btn btn--red" href="works.html">Мои работы</a>
            <button class="btn btn--blue" type="button" data-modal="contact-modal">Написать мне!</button>
        </div>
    
</aside>